body{
     background-image: url("rekenwallpaper.jpg");
}

 

#bron1{
    color: black;
    background-color:#cfffe5;
    position: fixed;
      right: 4%;
      width: 150px;
      height: 50px;
      border: 3px solid black;
      top: 20px;
}

 

#bron2{
    color: black;
    background-color:#cfffe5;
    position: fixed;
      right: 17%;
      width: 150px;
      height: 50px;
      border: 3px solid black;
    top: 20px;
}

 

#bron3{
    color: black;
    background-color:#cfffe5;
    position: fixed;
      right: 30%;
      width: 150px;
      height: 50px;
      border: 3px solid black;
      top: 20px;
}

 

#bron4{
    color: black;
    background-color:#cfffe5;
    position: fixed;
      right: 43%;
      width: 150px;
      height: 50px;
      border: 3px solid black;
      top: 20px;
}

 

#bron5{
    color: black;
    background-color:#cfffe5;
    position: fixed;
      right: 56%;
      width: 150px;
      height: 50px;
      border: 3px solid black;
      top: 20px;
 }     

 

#div1{
    margin: auto; 
    height:400px;
    width: 1100px;
    background-color: #5097a4;
    border: 5px;
  margin-top: 8%; 
  
}

 

#div2{
    background-color: #5097a4;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: -22px;

    line-height: 100px;
}